<h1>List of monitored accounts</h1>

<%= link_to 'Add Library', new_video_path %>
 
<table frame="box", border="1">
  <tr>
    <th>Title</th>
    <br>
    <th>Library Link</th>
    <br>
    <th>Most Recent Video Uploaded</th>
    <br>
    <th>Uploaded at:</th>
  </tr>
 
  <% @videos.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.library %></td>
      <td><% if movie.Name == nil %>
              <%= "Wait" %>
          <% else %>
              <%= link_to "#{movie.Name}","http://www.youtube.com" + movie.first_download %>
          <% end %>
      </td>
      <td><%= movie.moment %></td>
      <td><%= button_to 'Show', video_path(movie), method: :get %></td>
      <td><%= button_to 'Delete', video_path(movie), method: :delete %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to 'Back', welcome_index_path %>
</p>