<h1>List of monitored accounts</h1>

<%= link_to 'Add Library', new_video_path %>
 
<table frame="box", border="1">
  <tr>
    <th>Title</th>
    <br></br>
    <th>Library Link</th>
  </tr>
 
  <% @videos.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.library %></td>
      <td><%= button_to 'Show', video_path(movie), method: :get %></td>
      <td><%= button_to 'Delete', video_path(movie), method: :delete %></td>
    </tr>
  <% end %>
</table>
<p>
<%= link_to 'Back', welcome_index_path %>
</p>